<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据源</title>
    <link rel="stylesheet" type="text/css" href="/css/normal.css">
    <link rel="stylesheet" type="text/css" href="/css/dataSource.css">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/dataSource.js"></script>
</head>
<body>
<div>
    <div class="head">
        <ul id="menu">
            <li><a onclick="javascript:history.back(-1);">< Back</a></li>
            <li><a href="dataAsset">数据资产</a></li>
            <li class="active"><a href="#">数据源</a></li>
            <li><a href="analyze">分析透视</a></li>
            <li><a href="stream">流数据处理</a></li>
            <li><a href="monitor">智能监测</a></li>
            <li><a href="space">空间数据可视化</a></li>
        </ul>
    </div>

    <div class="container" style="margin-left: 10px">
        <div class="container-head">
            <div class="category" style="background-color:darkgrey;width:50%;margin:0px">设备数据</div>
            <div class="category" style="width:50%;margin:0px">外部数据</div>
        </div>
        <div class="container-body">
            <div class='add'>
                <button type='button' id='addDeviceData'> + 添加设备数据</button>
            </div>
            <div class="Form" id="deviceForm">
                <form>
                    <p  class="namepwd">设备名称：<input type="text" id="devicename"></p>
                    <p  class="namepwd"><button type="button" id="btn1">确认</button></p>
                </form>
            </div>
            <div class="Form" id="fileForm">
                <form>
                    <p  class="namepwd">文件路径：<input type="text" id="filepath"></p>
                    <p  class="namepwd"><button type="button" id="btn2">确认</button></p>
                </form>
            </div>
            <div class="device-list" style="width:50%"></div>
        </div>
    </div>
</div>

</body>
</html>