<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据资产</title>
    <link rel="stylesheet" type="text/css" href="/css/normal.css">
    <link rel="stylesheet" type="text/css" href="/css/dataAsset.css">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/dataAsset.js"></script>
</head>
<body>
<div>
    <div class="head">
        <ul id="menu">
            <li><a onclick="javascript:history.back(-1);">< Back</a></li>
            <li><a href="dataSource">数据源</a></li>
            <li class="active"><a href="#">数据资产</a></li>
            <li><a href="analyze">分析透视</a></li>
            <li><a href="stream">流数据处理</a></li>
            <li><a href="monitor">智能监测</a></li>
            <li><a href="space">空间数据可视化</a></li>
        </ul>
    </div>
    <div class="container" style="margin-left: 10px">
        <div class="select-device">
            <!--select id="device">
                <option value="" style="display:none">选择设备</option>
                <option value="testdevice">testdevice</option>
                <option value="testdevice2">testdevice2</option>
            </select-->
        </div>

        <div style="margin-top:10px">
            <table id="data-table" style="margin: 0 auto"></table>
        </div>
    </div>
</div>
</body>
</html>