<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.iot_rule.ruleService.mapper.RuleServiceMapper">
    <select id="getAllRules" resultType="com.example.iot_rule.ruleService.po.RulePO">
        select * from rules
        order by id
    </select>
    
    <select id="getRuleById" resultType="com.example.iot_rule.ruleService.po.RulePO">
        select * from rules
        where id=#{id}
    </select>

    <insert id="addRule" useGeneratedKeys="true" keyProperty="id" parameterType="com.example.iot_rule.ruleService.vo.RuleFormVO" >
        insert into rules (description,user_id,device_id,target,topic,`condition`,create_time)
        values (#{description},#{userId},#{deviceId},#{target},#{topic},#{condition},current_timestamp)
    </insert>

    <delete id="deleteRuleById">
        delete from rules where id=#{id}
    </delete>

    <update id="modifyRule">
        update rules
        set description=#{description},state=#{state},user_id=#{userId}, device_id=#{deviceId},target=#{target},topic=#{topic}, `condition`=#{condition}
        where id= #{id}
    </update>

    <update id="startRuleById">
        update rules
        set state=1
        where id=#{id}
    </update>

    <update id="endRuleById">
        update rules
        set state=0
        where id=#{id}
    </update>

    <select id="selectRulesByTopic" resultType="com.example.iot_rule.ruleService.po.RulePO">
        select * from rules
        where topic=#{topic} and state=1
    </select>

    <insert id="addDataTransmitHttp" useGeneratedKeys="true" keyProperty="id" parameterType="com.example.iot_rule.ruleService.po.DataTransmitHttpPO">
        insert into http_transmit (rule_id,transmit_address,create_time)
        values(#{ruleId},#{transmitAddress},current_timestamp)
    </insert>

    <insert id="addDataTransmitTopic" useGeneratedKeys="true" keyProperty="id" parameterType="com.example.iot_rule.ruleService.po.DataTransmitTopicPO">
        insert into topic_transmit(rule_id,target_topic,create_time)
        values(#{ruleId},#{targetTopic},current_timestamp)
    </insert>

    <select id="getAllDataTransmitHttp" resultType="com.example.iot_rule.ruleService.po.DataTransmitHttpPO">
        select * from http_transmit
        where rule_id=#{id}
        order by id
    </select>

    <select id="getAllDataTransmitTopic" resultType="com.example.iot_rule.ruleService.po.DataTransmitTopicPO">
        select * from topic_transmit
        where rule_id=#{id}
        order by id
    </select>

    <select id="getAllData" resultType="com.example.iot_rule.ruleService.po.ReceivedData">
        select * from received_data
        order by id
    </select>

    <insert id="addData" useGeneratedKeys="true" keyProperty="id" parameterType="com.example.iot_rule.ruleService.po.ReceivedData">
        insert into received_data(rule_id,map,capture_time)
        values(#{ruleId},#{map},#{captureTime})
    </insert>

</mapper>


