<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.iot_driver.data.TopicMapper">

    <select id="getTopic" parameterType="java.lang.Integer" resultMap="topic">
        select * from topic where device_id = #{deviceId}
    </select>

    <insert id="addTopic" parameterType="com.example.iot_driver.vo.TopicVo">
        insert into topic(topic_name,device_id,`describe`,qos,type)
        values (
                #{topicName},
                #{deviceId},
                #{describe},
                #{qos},
                #{type}
               )
    </insert>

    <delete id="deleteTopic" parameterType="java.lang.String">
        delete from topic where topic_name = #{topicName}
    </delete>

    <update id="modifyDescribe">
        update topic
        set `describe` = #{describe}
        where topic_name = #{topicName}
    </update>

    <select id="getAllSub" parameterType="java.lang.Integer" resultMap="subMap">
        select topic_name,qos
        from topic
        where device_id = #{deviceId} and type = "subscribe"
    </select>

    <resultMap id="topic" type="com.example.iot_driver.vo.TopicVo">
        <id column="topic_name" property="topicName"></id>
        <result column="device_id" property="deviceId"></result>
        <result column="describe" property="describe"></result>
        <result column="qos" property="qos"></result>
        <result column="type" property="type"></result>
    </resultMap>

    <resultMap id="subMap" type="java.util.HashMap">
        <result column="topic_name" property="topicName"></result>
        <result column="qos" property="qos"></result>
    </resultMap>

</mapper>