.container-head{
    width: 300px;
}

#fileForm{
    display:none;
    position:absolute;
    background-color: white;
    height:150px;
    width:400px;
    top:60px;
    right:50px;
}


.namepwd{
    text-align: center;
    padding:10px;
}


#btn2{
    width:100px;
}